*.swp
*.log
*.gz
*.rpm
RPM_NAME
PKG_NAME
*.log
*.pid
*.LCK
.project
yarn.lock
MYMETA.json
MYMETA.yml
Makefile
public/site.js
.settings/*
sessions/*
.includepath
blib/
rpm
pm_to_blib
META.yml
META.json
